form {
  padding: 25px;
}

input[type="number"],
input[type="text"] {
  outline: 1px grey solid;
  // text-transform: capitalize;
}

input[type="number"] {
  width: 100px;
}

.button {
  text-transform: capitalize;
}
